extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes 
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        .mt-8.mx-auto.max-w-md 
            .bg-white.py-8.px-4.shadow
                form(action="", method="post").space-y-5
        
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Tu Email
                        input(type="email", name="email" id="email" class="w-full px-3 py-2 border border-gray-300 rounded-md"  placeholder="Tu email")

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Tu Password
                        input(type="password", name="password" id="password" class="w-full px-3 py-2 border border-gray-300 rounded-md"  placeholder="Tu password")
                    
                    input(type="submit", value="Ingresar" class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer")
                    .flex.items-center.justify-between
                        a(href="/auth/registro" class="text-gray-400 text-xs") Crear Cuenta 
                        a(href="/auth/recuperar" class="text-gray-400 text-xs") Olvide Mi Password